@import url(/assets/css/ordinateur.css);
@import url(/assets/css/smartphone.css);

html, body {
    width: 100vw; 
    height: 100vh;
    /* background: linear-gradient(gray, black); */
    background-color: rgb(2, 11, 19);
    color: aliceblue;
    margin: 0;
    scrollbar-width: none;
}

::-webkit-scrollbar{
    width: 0;
}

.j{
    width: 100vw; 
    height: 100vh;
    background-color: rgb(2, 11, 19);
    color: aliceblue;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.j > section{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    scroll-snap-align: start;
}

.a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info > div{
    background-color: rgba(1, 6, 10, 0.8);
    color: azure;
    max-width: 20vw;
    min-width: fit-content;
    padding: 1%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    outline: none;
}

.info{
    justify-content: space-around;
}

.title{
    font-family: "DuneRise";
}